<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parul.project">

    <!--
             The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
             Google Maps Android API v2, but you must specify either coarse or fine
             location permissions for the 'MyLocation' functionality.
    -->
    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="PANJAB UNIVERSITY"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="PANJAB UNIVERSITY"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label=""
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImportLibrary"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.parul.project.MainActivity" />
        </activity>
        <activity
            android:name=".ImportAlumni"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.parul.project.MainActivity" />
        </activity>
        <activity
            android:name=".libraryForm"
            android:screenOrientation="locked" />
        <activity
            android:name=".libraryHome"
            android:screenOrientation="locked" />
        <activity
            android:name=".libraryContact"
            android:screenOrientation="locked" />
        <activity
            android:name=".alumniHome"
            android:screenOrientation="locked" />
        <activity
            android:name=".alumniForm"
            android:screenOrientation="locked" />
        <activity
            android:name=".alumniContact"
            android:screenOrientation="locked" />
        <activity
            android:name=".ImportSports"
            android:screenOrientation="locked" />
        <activity
            android:name=".sportsHome"
            android:screenOrientation="locked" />
        <activity
            android:name=".sportsForm"
            android:screenOrientation="locked" />
        <activity
            android:name=".sportsContact"
            android:screenOrientation="locked" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="locked" />
        <activity
            android:name=".nearbySight"
            android:screenOrientation="locked" />
        <activity
            android:name=".nearbyFood"
            android:screenOrientation="locked" />
        <activity
            android:name=".Nearby"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".highlights"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ImportEvents"
            android:screenOrientation="locked"/>
        <activity android:name=".ImportTransport"
            android:screenOrientation="locked"/>
        <activity android:name=".Aboutus"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="locked"></activity>
    </application>

</manifest>